POSTGRES_PASSWORD=ab051122

SERVER_PY_ENVIRONMENT=staging
SERVER_PY_EMAIL_PROVIDER=resend
SERVER_PY_EMAIL_FROM=noreply@mail.sklinkchat.com
SERVER_PY_RESEND_API_KEY=
SERVER_PY_APP_BASE_URL=http://154.94.233.250
SERVER_PY_SECURE_COOKIES=false
SERVER_PY_TURNSTILE_ENABLED=true
SERVER_PY_TURNSTILE_SITE_KEY=
SERVER_PY_TURNSTILE_SECRET_KEY=

VITE_ENDPOINT=http://154.94.233.250
VITE_WS_ENDPOINT=ws://154.94.233.250/ws
VITE_TURNSTILE_ENABLED=true
VITE_TURNSTILE_SITE_KEY=
